<div class="container">
  <div class="row">
    <div class="col-auto">
      <h2>{{username}}'s Dashboard</h2>
    </div>
  </div>
</div>
<br />
<section class="gradient-custom">
  <div class="container py-9 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="w-75">
        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="card h-100">

              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-2 text-danger">
                  <span class="ion ion-ios-time-outline"></span>
                </h1>
                <h4 class="card-title text-danger">Active Competitions</h4>
                <p class="card-text">

                <ul>
                  {{#if scoreboards.length}}

                  {{#each scoreboards as |scoreboards|}}
                  {{!-- {{#if (isActive competitions.end_date competitions.start_date)}} --}}
                  {{#if scoreboards.isAccepted}}
                  <li>
                    <a href="/api/competitions/{{scoreboards.competition_id}}"
                      class="btn btn-danger mt-auto">{{scoreboards.competition.title}}</a></button>
                    <p id="time-left">{{timeRemaining competitions.end_date competitions.start_date}} days remaining
                    </p>
                  </li>
                  {{!-- {{/if}} --}}
                  {{/if}}
                  {{/each}}


                  {{/if}}
                </ul>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient-custom">
  <div class="container py-1">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="w-75">
        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h1 class="display-2 text-danger">
                  <img src="/images/hptug.png" alt="tug of war icon" />
                </h1>
                <h4 class="card-title text-danger">Custom Competitions</h4>
                <p class="card-text">
                <ul>
                  {{#if competitions.length}}

                  {{#each competitions as |competitions|}}
                  <li>
                    <a href="/api/competitions/{{competitions.id}}"
                      class="btn btn-danger mt-auto">{{competitions.title}}</a>

                    <p class="d-none end_date">{{competitions.end_date }}</p>
                    <p id="time-left">{{timeRemaining competitions.end_date competitions.start_date}} days remaining
                    </p>
                  </li>
                  {{/each}}

                  {{/if}}

                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gradient-custom">
  <div class="container py-1">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="w-75">

        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h1 class="display-2 text-danger">
                  <span class="ion ion-ios-trophy-outline"></span>
                </h1>
                <h4 class="card-title text-danger">Achievements</h4>
                <p class="card-text">


                  {{#each scoreboards as |scoreboards|}}
                  {{#unless (isActive competitions.end_date competitions.start_date)}}
                  {{#if (checkWinner id scoreboards.competition.winner)}}</p>
                <span class='ion ion-ios-{{scoreboards.competition.reward}}'></span>
                <p>{{scoreboards.competition.title}}</p>
                {{/if}}
                {{/unless}}
                {{/each}}


                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient-custom">
  <div class="container py-1">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="w-75">

        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h1 class="display-2 text-danger">
                  <span class="ion ion-ios-mail-open-outline"></span>
                </h1>
                <h4 class="card-title text-danger">Pending Invites</h4>
                <p class="card-text">



                <div id="pending-invites" 
                    {{#each scoreboards as |scoreboards|}}
                    {{#unless scoreboards.isAccepted}}
                    {{#unless scoreboards.isDeclined}}
                    {{!-- {{#if (isActive competitions.end_date competitions.start_date)}} --}}
                    <p>{{scoreboards.competition.title}}</p>
                    <p>
                      <button data-response="accept" data-id="{{scoreboards.id}}"
                        class="btn btn-danger">Accept</button>
                    </p>
                    <p>
                      <button data-response="decline" data-id="{{scoreboards.id}}"
                        class="btn btn-outline-danger">Decline</button>
                    </p>
                    {{!-- {{/if}} --}}
                    {{/unless}}
                    {{/unless}}
                    {{/each}}
                  </div>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br /><br />




<script src="/js/dashboard.js"></script>