<style>
  .category {
    text-transform: uppercase;
  }

  h4 {
    color: rgb(68, 64, 64);
  }
</style>
<br><br>
<br><br>
<br><br>
<h1 data-competition_id="{{competition.id}}">{{competition.title}}</h1>
<h4>{{competition.description}}</h4>
<h4>Competition end date:</h4>
<p data-end_date="{{competition.end_date}}" data-start_date="{{competition.start_date}}">{{competition.end_date}}</p>

<p class="category">{{competition.category}}</p>
<section class="gradient-custom">
  <div class="container py-1">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="w-75">
        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h1 class="display-2 text-danger">
                  <img src="/images/hptug.png" alt="tug of war icon" />
                </h1>
                <h4 class="card-title text-danger">Leaderboard</h4>
                <p class="card-text">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Username</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>@melificent</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>@jmac</td>
                      <td>22</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>@slabrot</td>
                      <td>16</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table">
                  <h4 class="card-title text-danger"><span class="ion ion-md-trophy"></span> Winner </h4>

                  <tbody>
                    <tr>

                      <th type="username" id="winner" placeholder="WINNER"></th>


                    </tr>
                  </tbody>
                </table>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>

  {{!-- start --}}

  <div class="share-button sharer" style="display: block;">

    <button type="button" class="btn btn-danger share-btn">Share</button>
    <br /><br />


    {{!-- Melissa work in progress --}}
    {{#if (userScore scoreboards.user_id user.id)}}
    <button type="button" class="btn btn-danger" id="update-btn" data-quantity="{{competition.quantity}}"
      data-scoreboard="{{scoreboards.id}}">Update score with {{competition.quantity}} {{competition.uom}}</button>
    {{/if}}


    <div id="score-list">
      {{#each competition.scoreboards}}
      <div data-userid="{{this.user.username}}" data-score="{{this.score}}"></div>
      {{/each}}
    </div>
    <ol id="scoreboard">
    </ol>

    <div id="winner"></div>



    {{!-- End --}}


  </div>

  <script src="/js/displaycompetition.js"></script>